
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Bricolage Grotesque', sans-serif;
  overflow-x: hidden;
  padding-top: 90px;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 1000;
}

.logo {
  width: 40%;
  height: 100%;
}

.logo img {
  object-fit: contain;
  object-position: left;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  font-size: 26px;
}

.section-blue {
  background: #09126a;
  color: #fff;
}

.footer {
  background: #09126a;
  color: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer small {
  font-family: "Times New Roman", serif;
  font-size: 14px;
}
